.campo-texto {
    margin: 24px 0;
    font-weight: bold;
}
.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    margin-top: 24px;
}
.campo-texto input {
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0,0,0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}