.botao{
    background-color:  #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 32px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 32px 0;
}
.botao:hover{
    color:#95ffd4
}