.lista-suspensa {

}

.lista-suspensa label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    margin-top: 24px;
    font-weight: bold;

}
.lista-suspensa select{
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0,0,0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}