.time{
    text-align: center;
    padding: 32px;
}

.time h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.colaboradores{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin-top: 32px;
    flex-wrap: wrap;
}